<!-- Listings -->
  <section id="listings" class="py-4">
    <div class="container">
      <div class="row">
        {% if propListings %}
          {% for listing in propListings %}
              <div class="col-md-6 col-lg-4 mb-4">
                <div class="card listing-preview">
                  <img class="card-img-top" src="assets/img/homes/home-1.jpg" alt="">
                  <div class="card-img-overlay">
                    <h2>
                      <span class="badge badge-secondary text-white">{{listing.prize}}</span>
                    </h2>
                  </div>
                <div class="card-body">
                    <div class="listing-heading text-center">
                      <h4 class="text-primary">{{listing.address}}</h4>
                      <p>
                        <i class="fas fa-map-marker text-secondary"></i> Lane 5, prabhat road</p>
                    </div>
                    <hr>
                    <div class="row py-2 text-secondary">
                      <div class="col-6">
                        <i class="fas fa-th-large"></i> Sqft: 3200</div>
                      <div class="col-6">
                        <i class="fas fa-car"></i> Gallary: 2</div>
                    </div>
                    <div class="row py-2 text-secondary">
                      <div class="col-6">
                        <i class="fas fa-bed"></i> Bedrooms: 3</div>
                      <div class="col-6">
                        <i class="fas fa-bath"></i> Bathrooms: 2</div>
                    </div>
                    <hr>
                    <div class="row py-2 text-secondary">
                      <div class="col-12">
                        <i class="fas fa-user"></i> Mahesh</div>
                    </div>
                    <div class="row text-secondary pb-2">
                      <div class="col-6">
                        <i class="fas fa-clock"></i> 2 days ago</div>
                    </div>
                    <hr>
                    <a href="listing.html" class="btn btn-primary btn-block">More Info</a>
                  </div>
                </div>
              </div>
          {% endfor %}
        {% else %}
          <div class="col-md-12">
            <p>No listings available</p>
          </div>
        {% endif %}
                                     
      </div>
    </div>
  </section>
